p {
   margin-top: 0;
   margin-bottom: 0;
   font-family: Roboto, Arial; 
   color: #222;
}

body {
 margin: 0;
 padding-top: 57px;
 padding-left: 220px;
 padding-right: 10px;
 height: 1200px; 
}